@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --red: #EB0028;
  --gray: #9B9B9B;
  --gray-circle: #D7D7D7;
  --black: #000000;
  --yellow: #F9F586;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  position: relative;
}
.app {
  min-height: 100vh;
  background-color: var(--background);
  width: 100%;
  position: relative;
}
#root {
  min-height: 100vh;
  width: 100%;
}
